@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Press+Start+2P');

html {
  height: 100%;
}

body {
  background-image: url(../assets/bckg.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

.content {
  background-color: rgb(227, 242, 253);
  background-color: rgba(227, 242, 253, 0.7);
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
  padding: 25px 100px 70px 100px;
}

.footer {
  background-color: rgb(227, 242, 253);
  background-color: rgba(227, 242, 253, 0.9);
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  background: -webkit-linear-gradient(#191950, #191970);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}

a {
  text-decoration: none;
}

a:visited {
  color: #8c4467;
}

a:hover {
  color: #85144b;
  text-decoration: underline;
}

.banner {
  margin: 20px;
  padding: 5px;
}

.lead {
  font-size: 20px;
  margin: 5px;
  border: 5px solid #112566;
  padding:3%;
  background-color: rgba(59, 125, 184, 0.50);
}

.links {
  margin: 20px;
}

.qt {
  color: rgb(112, 112, 112);
  color: rgba(112, 112, 112, 0.93);
  font-size: 10px;
  font-style: italic;
}
