@font-face {
    /* font-family: 'GlNummernschildEng';
    src: url('fonts/GlNummernschildEng-5m3V.otf'),
    url('fonts/GlNummernschildEng-XgWd.ttf'); */
    font-family: "LicensePlate";
    src: url("fonts/MrAlexBold.ttf");

  }

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plate {
    flex: auto;
    margin-top: 20%;
    text-align: center;
}

button {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 1em;
}

input {
    background-color: grey;
    color: white;
    font-size: 100px;
    text-align: center;
    width: 90px;
    text-transform: uppercase;
    font-family: "LicensePlate";
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

@media (max-width:700px){
    input {
        background-color: grey;
        color: white;
        font-size: 50px;
        text-align: center;
        width: 40px;
        text-transform: uppercase;
        font-family: "LicensePlate";
        /* padding-top: 20px;
        padding-bottom: 20px; */
    }
}

input::placeholder{
    color:black;
}

canvas {
    position: absolute;
}