@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: black;
    color: white;
    margin: 0 5% 0 5%;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0 1% 0 1%;
  }
}

.container {
    margin: 1em;
}

a {
    color: #00EE00;
}

a:hover {
    background-color: #00EE00;
    color: #080086;
    /* padding: 5px; */
}

.icons img {
    width: 40px;
    padding-left: 10px;
}

strong {
		color: #00FFFF;
}

img {
    background-color: #00EE00;
    padding: 4px;
}

a:hover img {
    background-color: #00EE00;
    color: #080086;
}

p {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}

h1, h2 {
    font-family: 'VT323', monospace;
}


h1 {
    font-size: 7em;
		letter-spacing: 3px;
}

h2 {
    font-size: 5em;
		margin: 1em 0 0.5em 0;
    text-transform: uppercase;
		letter-spacing: 4px;
}


h3 {
		margin: 10px 0;
		font-size: 2em;
    font-family: 'Source Code Pro', monospace;
}

.about-me p {
		margin: 40px 0px;
}

.section {
    background-color: #080086;
    border: 0.5rem solid #00FFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 6em;
  }
	h2 {
			font-size: 4em;
	}
	.section {
			border: 0.2rem solid #00FFFF;
	}
}
.project {
    flex: 0 1 350px;
    margin: 15px 5px;
		margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project img {
    width: 100%;
		margin: 0;
		padding: 0;
}

footer {
		padding: 8em 0em 5em 0em;
    text-align: center;
}

footer p{
		font-size: 0.9em;
}

#cookies {
		color: grey;
		font-size: 0.9em;
}

#pgp {
		color: grey;
		font-size: 0.8em;
		padding-top: 5em;
}
